[submodule "solidity-fundamentals/storage-factory/lib/forge-std"]
	path = solidity-fundamentals/storage-factory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fundamentals/fund-me/lib/forge-std"]
	path = solidity-fundamentals/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fundamentals/fund-me/lib/foundry-devops"]
	path = solidity-fundamentals/fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "solidity-fundamentals/smart-contract-lottery/lib/forge-std"]
	path = solidity-fundamentals/smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
