[submodule "solidity-fundamentals/storage-factory/lib/forge-std"]
	path = solidity-fundamentals/storage-factory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fundamentals/fund-me/lib/forge-std"]
	path = solidity-fundamentals/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fundamentals/fund-me/lib/foundry-devops"]
	path = solidity-fundamentals/fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "solidity-fundamentals/smart-contract-lottery/lib/forge-std"]
	path = solidity-fundamentals/smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fundamentals/smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = solidity-fundamentals/smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "solidity-fundamentals/smart-contract-lottery/lib/solmate"]
	path = solidity-fundamentals/smart-contract-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "solidity-fundamentals/smart-contract-lottery/lib/foundry-devops"]
	path = solidity-fundamentals/smart-contract-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
